*{
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

:root{
    --mainColor: #29335C;
    --mainColorLight: #5767aa;
    --secondaryColor: #D02839;
    --textColor: #eee;

}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 2rem 0 12rem;
    background-color: var(--mainColor);
    color: var(--textColor);
}

nav a{
    margin: 0 2rem;
    color: var(--textColor);
    text-decoration: none;
    cursor: pointer;


    &:hover{
        color: var(--secondaryColor);
    }
}

.navbar-logo{
    display: flex;
    color: var(--textColor);
    text-decoration: none;
    align-items: center;

    h3{
        font-size: 40px;
    }

    img{
        height: 40px;
        width: 40px;
        object-fit: contain;
    }


}

header .nav-btn{
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: var(--textColor);
    visibility: hidden;
    opacity: 0;
    font-size: 1.8rem;
}

@media (max-width: 1024px) {

    header{
   
        padding: 0 2rem 0 6rem;

    }
 

    header nav{
        position: fixed;
        top: 0px;
        left: 0px;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2.5rem;
        background-color: var(--mainColor);
        transform: translateY(-100vh);

    }

    header .responsive_nav{
        transform: none;
    }

    header .nav-btn{
        visibility: visible;
        opacity: 1;

    }

    nav .nav-close-btn{
        position: absolute;
        top: 2rem;
        right: 2rem;
    }

    nav a{
        font-size: 1.5rem;
    }

    
}


@media (max-width: 600px){

    header{
   
        padding: 0 2rem 0 2rem;

    }
}



