.services-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ece9e9 !important;
    padding-bottom: 40px;
    text-align: center;
     
    h1{
        font-size: 50px;
        margin-top: 32px;
    }
}

.images-container{
    width: 80vw !important;
    display: flex;
    justify-content: space-between;

}

.card-element{
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    align-items: center;
    box-shadow: 4px 8px 8px 4px rgba(0,0,0,0.4);
    background-color: white;
    margin-top: 32px;
    text-align: center;
    cursor: pointer;

    h4{
        margin-top: 15px;
        margin-bottom: 15px;
        margin-left: 3vw;
        margin-right: 3vw;
    }
}

.image-element{
    display: flex;
    position: relative;
    
    img{
        object-fit: cover !important;
        height: 35vh;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
}

.big-size{
    width: 38vw !important;
    
}

.small-size{
    width: 25vw !important;
}

.explanation{
    position: absolute;
    background-color: rgb(30, 46, 75);
    color: white;
    bottom: 1px;
    left: 15px;
    padding: 5px;
}

@media (max-width: 1200px){

    .image-element{

        
        img{
           
            height: 30vh;
     
        }
    }

}

@media (max-width: 1100px){

    .image-element{

        
        img{
           
            height: 25vh;
     
        }
    }

}

@media(max-width: 1024px){

    .image-element{

        img{
          
            height: 40vh;
        }
    }

    .services-container{
 
         
        h1{
            font-size: 40px;
            margin-top: 32px;
        }
    }


    .images-container{
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .big-size{
        width: 60vw !important;
        
    }
    
    .small-size{
        width: 60vw !important;
    }

}


@media(max-width: 900px){

    .image-element{

        img{
          
            height: 35vh;
        }
    }

    .services-container{
 
         
        h1{
            font-size: 35px;
            margin-top: 32px;
        }
    }

    .big-size{
        width: 80vw !important;
        
    }
    
    .small-size{
        width: 80vw !important;
    }

}


@media(max-width: 700px){


    .services-container{
 
        h1{
            font-size: 32px;
            margin-top: 32px;
        }
    }

 

}




@media(max-width: 600px){

    .image-element{

        img{
          
            height: 30vh;
        }
    }

    .services-container{
 
        h1{
            font-size: 35px;
            margin-top: 32px;
        }
    }

    .big-size{
        width: 80vw !important;
        
    }
    
    .small-size{
        width: 80vw !important;
    }

}


@media(max-width: 400px){

    .image-element{

        img{
          
            height: 25vh;
        }
    }



}